@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #2563eb;
  color: white;
}

html {
  scroll-behavior: smooth;
}
